<template>
    <div class="pagenew">
        <div class="part_news">
            <div class="wrapper_part_news">
                <div class="title_urls" >
                    <NuxtLink
                            :to="'/'"
                            class="title_url"
                    >
                        Главная страница
                    </NuxtLink>
                    <span  class="title_url" > > </span>
                    <NuxtLink
                            class="title_url"
                    >
                       личный кабинет
                    </NuxtLink>
                </div>


                <h1>
                   Личный кабинет
                </h1>

                <div class="divinfo">
                    <div class="divfio_text">
                       <span class="sp_info"> Ф.И.О.  </span> : <b>{{newData.name}}</b>
                    </div>
                    <div class="divgrup" v-if="newData.user_type==2">
                        <span class="sp_info"> Учебная группа </span> :
                        <b>
                            {{newData.groupname}}
                        </b>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="divfio_text">
                        <span class="sp_info"> Изменить пароль  </span>
                    </div>
                    <div class="divfio_text stud_table">
                        <span class="sp_info"> Старый пароль  </span> : <input type="password" v-model="oldPassword">
                    </div>
                    <div class="divfio_text stud_table">
                        <span class="sp_info"> Новый пароль  </span> : <input type="password" v-model="newPassword">
                    </div>
                    <button class="btn_green" @click="changePassword">Изменить пароль</button>
                </div>


                <br>

                <div class="stud_table" v-if="newData.user_type==3 || newData.user_type==1">
                    <h2>
                        Вывести отчет по студентам
                    </h2>
                    <div class="divinfo w100">
                        Выберите группу

                            <select v-model="zGroupsSelect">
                                <option value="0" selected v-if="newData.user_type==3" >Все группы</option>

                                <option v-for="valueData in zGroups.result"
                                        :key="valueData.id"
                                        :value="valueData.id" selected>
                                    {{valueData.name}}
                                </option>
                            </select>


                        <br> Дата с <input v-model="zDataStart" type="date"> по <input v-model="zDataEnd" type="date">
                        <br>
                        <button @click="getDataList">Сформировать</button>

                        <br>
                        <br>

                        <button @click="printDiv" >
                            Распечатать
                        </button>


                    <div class="div_report_asnwer">


                        <div class="group_datas" v-for="recordData in recordDatas.reports">
                           <p>
                               Учебная группа : <b>{{recordData.groupName}}</b>
                           </p>
                           <div class="user_name" v-for="itemUser in recordData.datauser">
                               Студент : <b>{{itemUser.name}}</b>

                               <div class="h2user" v-if="itemUser.datas.filter(item => item.type === 1).length">
                                   Практика (различные практики или мастер классы)
                               </div>

                               <table class="customers" v-if="itemUser.datas.filter(item => item.type === 1).length">
                                   <tr>
                                       <th>Название</th>
                                       <th>Место проведения</th>
                                       <th>Дата и время</th>
                                       <th>Описание</th>
                                   </tr>
                                   <tr v-for="aMassiv1Data in itemUser.datas.filter(item => item.type === 1)">
                                       <td>{{aMassiv1Data.name}}</td>
                                       <td>{{aMassiv1Data.point}}</td>
                                       <td>{{aMassiv1Data.datarecord}}</td>
                                       <td>{{aMassiv1Data.about}}</td>
                                   </tr>
                               </table>




                               <div class="h2user" v-if="itemUser.datas.filter(item => item.type === 2).length">
                                   Наука (конференция, статьи и ...)
                               </div>
                               <table class="customers" v-if="itemUser.datas.filter(item => item.type === 2).length">
                                   <tr>
                                       <th>Название</th>
                                       <th>Место проведения</th>
                                       <th>Дата и время</th>
                                       <th>Описание</th>
                                   </tr>
                                   <tr v-for="aMassiv1Data in itemUser.datas.filter(item => item.type === 2)">
                                       <td>{{aMassiv1Data.name}}</td>
                                       <td>{{aMassiv1Data.point}}</td>
                                       <td>{{aMassiv1Data.datarecord}}</td>
                                       <td>{{aMassiv1Data.about}}</td>
                                   </tr>
                               </table>

                               <div class="h2user" v-if="itemUser.datas.filter(item => item.type === 3).length">
                                   Общественная активность
                               </div>
                               <table class="customers" v-if="itemUser.datas.filter(item => item.type === 3).length">
                                   <tr>
                                       <th>Название</th>
                                       <th>Место проведения</th>
                                       <th>Дата и время</th>
                                       <th>Описание</th>
                                   </tr>
                                   <tr v-for="aMassiv1Data in itemUser.datas.filter(item => item.type === 3)">
                                       <td>{{aMassiv1Data.name}}</td>
                                       <td>{{aMassiv1Data.point}}</td>
                                       <td>{{aMassiv1Data.datarecord}}</td>
                                       <td>{{aMassiv1Data.about}}</td>
                                   </tr>
                               </table>


                           </div>



                        </div>

                    </div>


                    </div>


                </div>



                <div class="stud_table" v-if="newData.user_type==2">
                    <h1> Создать новую запись </h1>
                    <div class="form_createrecord">
                        <div class="w100_item">
                            <div class="title">
                                Выберите тип
                            </div>

                            <div class="input_div custom-select">
                                <select v-model="typeRecord" >
                                    <option value="0" disabled selected>Выберите тип</option>
                                    <option value="1">Практика (различные практики или мастер классы)</option>
                                    <option value="2">Наука (конференция, статьи и ...)</option>
                                    <option value="3">Общественная активность</option>
                                </select>
                            </div>
                        </div>

                        <div class="w100_item" v-if="typeRecord==1 || typeRecord==2">
                            <div class="title">
                                Вид
                            </div>

                            <div class="input_div">
                                <input type="text" v-model="fVid">
                            </div>
                        </div>
                        <div class="w100_item" v-if="typeRecord>0">
                            <div class="title">
                                Название
                            </div>

                            <div class="input_div" >
                                <input type="text"  v-model="fName">
                            </div>
                        </div>
                        <div class="w100_item" v-if="typeRecord>0">
                            <div class="title">
                                Место проведения
                            </div>

                            <div class="input_div">
                                <input type="text" v-model="fPoint">
                            </div>
                        </div>
                        <div class="w100_item" v-if="typeRecord>0">
                            <div class="title">
                                Дата и время
                            </div>

                            <div class="input_div">
                                <input type="datetime-local"  v-model="fDataTime">
                            </div>
                        </div>
                        <div class="w100_item" v-if="typeRecord>0">
                            <div class="title">
                                Описание
                            </div>

                            <div class="input_div">
                                <textarea v-model="fAbout"></textarea>
                            </div>
                        </div>
                        <div class="w100_item" v-if="typeRecord>0">
                            <button @click="setRecordData()">Создать запись</button>
                        </div>

                    </div>
                    <h1> Практика (различные практики или мастер классы) </h1>
                    <div class="div_w100">
                        <table class="customers">
                            <tr>
                                <th>Название</th>
                                <th>Место проведения</th>
                                <th>Дата и время</th>
                                <th>Описание</th>
                                <th>Действие</th>
                            </tr>
                            <tr v-for="aMassiv1Data in aMassiv1Datas">
                                <td>{{aMassiv1Data.name}}</td>
                                <td>{{aMassiv1Data.point}}</td>
                                <td>{{aMassiv1Data.datarecord}}</td>
                                <td>{{aMassiv1Data.about}}</td>
                                <td>
                                    <button @click="deleteRecord(aMassiv1Data)">Удалить</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h1>Наука (конференция, статьи и ...)</h1>
                    <div class="div_w100">
                        <table class="customers">
                            <tr>

                                <th>Название</th>
                                <th>Место проведения</th>
                                <th>Дата и время</th>
                                <th>Описание</th>
                                <th>Действие</th>
                            </tr>
                            <tr v-for="aMassiv2Data in aMassiv2Datas">

                                <td>{{aMassiv2Data.name}}</td>
                                <td>{{aMassiv2Data.point}}</td>
                                <td>{{aMassiv2Data.datarecord}}</td>
                                <td>{{aMassiv2Data.about}}</td>
                                <td>
                                    <button @click="deleteRecord(aMassiv2Data)">Удалить</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h1> Общественная активность </h1>
                    <div class="div_w100"> <table class="customers">
                        <tr>

                            <th>Название</th>
                            <th>Место проведения</th>
                            <th>Дата и время</th>
                            <th>Описание</th>
                            <th>Действие</th>
                        </tr>
                        <tr v-for="aMassiv3Data in aMassiv3Datas">

                            <td>{{aMassiv3Data.name}}</td>
                            <td>{{aMassiv3Data.point}}</td>
                            <td>{{aMassiv3Data.datarecord}}</td>
                            <td>{{aMassiv3Data.about}}</td>
                            <td>
                                <button @click="deleteRecord(aMassiv3Data)">Удалить</button>
                            </td>
                        </tr>
                    </table> </div>
                </div>


            </div>
        </div>
    </div>
</template>


<script setup lang="ts">
    import { ref } from 'vue'
    const config = useRuntimeConfig()
    const { seturl,logUserOut } = useAuthStore();

    definePageMeta({
        layout: 'main',
        middleware: 'authcabinet',
    })

    const newData = ref({ name: '-',groupname:'-' });
    const recordDatas = ref([]);
    /*Параметры для создание новой записи в портфолио*/
    const typeRecord = ref(0);
    const fVid = ref("");
    const fName = ref("");
    const fPoint = ref("");
    const fDataTime = ref();
    const fAbout = ref("");

    const oldPassword = ref("");
    const newPassword = ref("");

    const zGroups = ref("");
    const zGroupsSelect = ref(0);

    const zDataStart = ref("");
    const zDataEnd = ref("");


    const aMassiv1Datas = ref([]);
    const aMassiv2Datas = ref([]);
    const aMassiv3Datas = ref([]);

    const printDiv = () => {
        const divToPrint = document.querySelector('.div_report_asnwer').innerHTML
        const newWin = window.open('', 'Print-Window')
        newWin.document.open()
        newWin.document.write(`
            <html>
              <head>
                <title>Print</title>
              </head>
              <body onload="window.print()">
                ${divToPrint}
              </body>
            </html>
          `)
        newWin.document.close()
        setTimeout(() => {
            newWin.close()
        }, 10)
    }

    const setRecordData = async () => {
        const token = useCookie('token');
        const response = await fetch(config.public.apiBaseUrl+'api/account/setdata', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": "Bearer " + token.value
            },
            body: JSON.stringify({
                'type': typeRecord.value,
                'vid': fVid.value,
                'name': fName.value,
                'point': fPoint.value,
                'datarecord': fDataTime.value,
                'about':fAbout.value
            })
        })
        if (!response.ok) {
            throw new Error('Network response was not ok')
        }
        typeRecord.value=0
        fVid.value=""
        fName.value=""
        fPoint.value=""
        fDataTime.value=""
        fAbout.value=""
        getDataProfile()
    }


    const changePassword  = async () => {
        try {
            const token = useCookie('token');
            const response = await fetch(config.public.apiBaseUrl+'api/changepassword/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
                body: JSON.stringify({
                    'oldPassword': oldPassword.value,
                    'newPassword': newPassword.value,
                })
            })

            if (!response.ok) {
                throw new Error('Network response was not ok')
            }

            alert('Пароль изменили')
            oldPassword.value=""
            newPassword.value=""

        } catch (error) {
            alert('Ошибка при смены пароля')
            console.error('There was a problem with the fetch operation:', error)
        }
    }

    const deleteRecord  = async (dataDelet) => {
        try {
            const token = useCookie('token');
                const response = await fetch(config.public.apiBaseUrl+'api/portfolio/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
                body: JSON.stringify({
                    'idrecord': dataDelet.id,
                })
            })

            if (!response.ok) {
                throw new Error('Network response was not ok')
            }

            const data = await response.json()
            aMassiv1Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 1)
            aMassiv2Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 2)
            aMassiv3Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 3)

        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }

    const getDataList  = async () => {
        try {
            const token = useCookie('token');
            const response = await fetch(config.public.apiBaseUrl+'api/report/portfolio', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
                body: JSON.stringify({
                    'group': zGroupsSelect.value,
                    'datastart': zDataStart.value,
                    'dataend': zDataEnd.value,
                })
            })

            if (!response.ok) {
                throw new Error('Network response was not ok')
            }

            const data = await response.json()
            console.log(data);
            recordDatas.value=data;

        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }

    const getDataProfile = async () => {
        try {
            const token = useCookie('token');
            const response = await fetch(config.public.apiBaseUrl+'api/account/portfolio', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
            })
            if (!response.ok) {
                throw new Error('Network response was not ok')
            }
            const data = await response.json()

            //const filteredData = computed(() => aMassiv1Datas.value.filter(item => item.type === 3));
            aMassiv1Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 1)
            aMassiv2Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 2)
            aMassiv3Datas.value=data.dataportfolio.listdatas.filter(item => item.type === 3)
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }

    async function getDepartGroup(){
        try {
            const token = useCookie('token');
            const response = await fetch(config.public.apiBaseUrl+'api/grouplist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
            })
            if (!response.ok) {
                throw new Error('Network response was not ok')
            }

            const data = await response.json()
            zGroups.value=data

        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }

    async function asyncData() {
        try {
            const token = useCookie('token');
            const response = await fetch(config.public.apiBaseUrl+'api/account/data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": "Bearer " + token.value
                },
            })
            if (!response.ok) {
                throw new Error('Network response was not ok')
            }
            const data = await response.json()
            return data
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
            logUserOut()
            router.push('/');


        }
    }

    asyncData().then(data => {
        newData.value=data.dataaccount
        getDataProfile()
        if(data.dataaccount.user_type==3 || data.dataaccount.user_type==1  )
            getDepartGroup()
    })


</script>
