<script setup lang="ts">

import HeadPage from "~/components/common/HeadPage.vue";
</script>

<template>
  <head-page />
  <div class="content">
    <slot />
  </div>
  <FooterComponent />

</template>

<style scoped>

</style>
