<script setup lang="ts">
  const MenuHeads = [
    {"title":"Главная","url":"/"},
    {"title":"Преподаватели","url":"/professors"},
    {"title":"Новости","url":"/news"},
    {"title":"Расписание","url":"https://t.me/rfpgu_subject_bot"},
  ]
  const statusShowModal = ref(0)
  const showModalEnter = () => {
      user.value={
          email: '',
          password: '',
      }
      statusShowModal.value = 1;
  }
  const hideModalEnter = () => {
      statusShowModal.value = 0;
  }

  const user = ref({
      email: '',
      password: '',
  });

  const config = useRuntimeConfig()
  import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
  import { useAuthStore } from '~/stores/auth'; // import the auth store we just created
  const router = useRouter();
  const { seturl,logUserOut } = useAuthStore();
  const { authenticateUser } = useAuthStore(); // use authenticateUser action from  auth store
  const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs
  const urlApi=config.public.apiBaseUrl
  seturl(urlApi)

  const logout = () => {
      logUserOut()
      router.push('/');
  };

  const login = async () => {
      await authenticateUser(user.value);

      if (authenticated.value) {

          hideModalEnter()
      }else {
          alert("Error AUTH ")
      }
  };
</script>

<template>
  <div class="head-page">

      <div class="modal_enter" v-if="statusShowModal">

        <div class="div_form" >
            <div class="close_modal" @click="hideModalEnter()">
                X
            </div>
            <div class="enter_form">

                <div class="title_form">
                    Вход в личный кабинет
                </div>

                <div class="w100_modal">
                    <div class="w100_t">
                        Электроная почта
                    </div>
                    <div class="w100_t">
                        <input type="text" v-model="user.email">
                    </div>
                </div>

                <div class="w100_modal">
                    <div class="w100_t">
                        Пароль
                    </div>
                    <div class="w100_t">
                        <input type="password"  v-model="user.password">
                    </div>
                </div>

                <div class="w100_modal">
                    <div class="w100_t">

                        <button class="btEnter" @click.prevent="login">Войти</button>

                    </div>
                </div>





            </div>


        </div>

      </div>

      <div class="wrapper_head-page">
        <div class="logo_div">
          <NuxtLink
              to="/"
          >
            <img src="@/public/img/png/logoiipi.png"
                 alt="Кафедра ИиПИ / логотип"
                 width="137"
                 height="46">
          </NuxtLink>
        </div>
        <div class="menu_desc">
          <NuxtLink
              v-for="ItemMenu in MenuHeads"
              :to="ItemMenu.url"
              class="link_head"
              :class="{'enter_btn':ItemMenu.active}"
          >
            {{ ItemMenu.title }}
          </NuxtLink>

          <NuxtLink
                v-if="!authenticated"
                @click="showModalEnter()"
                class="link_head enter_btn">
                Вход
          </NuxtLink>

          <NuxtLink
                v-if="authenticated"
                to="/account"
                class="link_head enter_btn">
                Личный кабинет
          </NuxtLink>

          <NuxtLink
            v-if="authenticated"
            @click="logout()"
            class="link_head enter_btn">
                Выйти
          </NuxtLink>

        </div>
      </div>
  </div>
</template>

