<script setup lang="ts">

    const props = defineProps({
        showpage: 0
    })

    const config = useRuntimeConfig()
  const { data: educations }= await useFetch(config.public.apiBaseUrl+'api/educations')
</script>

<template>
  <div class="educations">


    <div class="wrapper_edications">

        <div class="title_urls" v-if="!props.showpage">
            <NuxtLink
                    :to="'/'"
                    class="title_url"
            >
                Главная страница
            </NuxtLink>
            <span  class="title_url" > > </span>

            <NuxtLink
                    class="title_url"
            >
                Направлений и специальностей
            </NuxtLink>

        </div>

        <div class="title_text">
        Описание направлений и специальностей
      </div>
      <div class="wrapper_lists">

        <div class="item_edicat" v-for="item in educations">
          <NuxtLink
              :to="'spechial/'+item.slug"
              style="text-decoration: none"
          >
            <div class="title_ed">
              {{ item.title}}
            </div>
            <div class="title_direction">
              <span>Направление :</span>{{ item.direction}}
            </div>
            <div class="title_profile">
              <span>Профиль :</span>{{ item.profile}}
            </div>
            <div class="wrapper_item_edicats">
              <div class="item_ed">
                <p class="blue_text">{{ item.period_development}}</p>
                <p>срок освоения</p>
              </div>
              <div class="item_ed">
                <p class="blue_text">{{ item.form_education}}</p>
                <p>форма обучения</p>
              </div>
              <div class="item_ed">
                <p class="blue_text" v-if="item.is_dogovor">-бюджет</p>
                <p class="blue_text"  v-if="item.is_budget">-договор</p>
              </div>
            </div>
          </NuxtLink>
        </div>

      </div>
    </div>
  </div>

</template>

<style scoped>

</style>
