<script setup lang="ts">
  const SliderNumbers = [
    {"title":"студентов","number":298},
    {"title":"выпускников","number":787},
    {"title":"публикации","number":1894},
    {"title":"проект","number":373}
  ]
</script>

<template>
  <div class="main-side">
    <div class="main-side_wrapper">
      <div class="text_slide">
        <div class="text-slide-h1">
          Кафедра ИиПИ
        </div>
        <div class="text-slide-h2">
          Информатика и <br>
          программная инженерия
        </div>
        <div class="text-slide-h3">
          Рыбницкий филиал ПГУ им. Т.Г. Шевченко
        </div>
      </div>

      <div class="img_div_slider">
        <img src="@/public/img/png/slidermain.png"
             alt="Кафедра ИиПИ / логотип"
             class="img_slider">
      </div>
    </div>
    <div class="slider_count">

      <div class="count_div" v-for="SliderNumber in SliderNumbers">
        <div class="number_title">
          {{ SliderNumber.number}}
        </div>
        <div class="text_title_slider">
          {{ SliderNumber.title}}
        </div>
      </div>

    </div>
  </div>
</template>

