<script setup lang="ts">
const config = useRuntimeConfig()
const { data: htmlcode }= await useFetch(config.public.apiBaseUrl+'api/htmlblock/hitstory_block')
</script>

<template>
  <div class="part_istoria">
    <div class="wrapper_istoria">
      <div class="text_istoria" v-if="htmlcode" v-html="htmlcode.html"></div>
      <div class="zav_info">
        <img src="@/public/img/png/zavkafedri.png"
             alt="Кафедра ИиПИ / Зав. кафедры / Тяугульская Людмила Анатольевна"
             >
        <div class="text_zav">
          <p class="familia_zav">Тягульская</p>
          <p class="name_zav">Людмила Анатольевна</p>
          <p class="dol_zav">Заведующий кафедрой, кандидат экономических наук, доцент </p>
        </div>
      </div>
    </div>
  </div>
</template>
