<script setup lang="ts">

  const props = defineProps({
        skip: Number,
        limit: Number,
        showpage: 0
  })

  import { ref } from 'vue'
  const config = useRuntimeConfig()

  //  переменные для работы на компоненте
  var loadNews=0
  const activeCategoryId = ref(0)
  const activePage = ref(1)

  // Выводим данные ajax
  const { data: news }= await useFetch(config.public.apiBaseUrl+'api/news/?skip='+props.skip+'&limit='+props.limit)
  const { data: categorys }= await useFetch(config.public.apiBaseUrl+'api/newcategories/')

  // Событие вывода новости по категории
  const loadCategoryNews = async (typecategory: number) => {
      activeCategoryId.value = typecategory
      news.value =[]
      loadNews=1
      const { data: newNews } = await useFetch(config.public.apiBaseUrl+`api/news/?skip=`+props.skip+`&limit=`+props.limit+`&typecategory=`+typecategory)
      if (newNews) {
          news.value = newNews.value
      }else{
          news.value = []
      }
      loadNews=0
      activePage.value = 1
  }

  const loadPageNews = async (page: number) => {
      console.log(page)
      activePage.value = page
      const skipList=page
      news.value =[]
      loadNews=1
      const { data: newNews } = await useFetch(config.public.apiBaseUrl+`api/news/?skip=`+skipList+`&limit=`+props.limit+`&typecategory=`+activeCategoryId.value)
      if (newNews) {
          news.value = newNews.value
      }else{
          news.value = []
      }
      loadNews=0
  }

</script>

<template>
  <div class="part_news">

    <div class="wrapper_part_news">

        <div class="title_urls" v-if="!props.showpage">
            <NuxtLink
                    :to="'/'"
                    class="title_url"
            >
                Главная страница
            </NuxtLink>
            <span  class="title_url" > > </span>

            <NuxtLink
                    :to="'/news'"
                    class="title_url"
            >
                Новости
            </NuxtLink>

        </div>



      <div class="categories_list">
        <span class="tab_category_new"
              :class="{ active_tab: 0 === activeCategoryId }"
              @click="loadCategoryNews(0)"> Все новости </span>
        <span v-for="category in categorys" >
              | <span
                    class="tab_category_new"
                    :class="{ active_tab: category.id === activeCategoryId }"
                    @click="loadCategoryNews(category.id)" >
                        {{category.name}}
                </span>
            </span>
      </div>
    </div>

    <div class="wrapper_news">


        <div class="loader" v-if="loadNews"></div>
        <div class="newitem_new" v-for="newitem in news">
            <div class="title_new">{{newitem.name}}</div>
            <div class="text_new"  v-html="newitem.text"></div>
            <div class="wr_new">
              <div class="show_new">
                  <NuxtLink
                          :to="'/news/'+newitem.slug"
                  >
                  подробнее >
                  </NuxtLink>
              </div>
              <div class="time_new">
                {{ newitem.datapublic }}
              </div>
            </div>
        </div>


      <div v-if="!props.showpage" class="footer_news_page">
        <div class="news_blue_line"></div>
          <div class="news_go">
              <span
                      @click="loadPageNews(activePage-1)"
                      class="last_data" v-if="activePage>1" > < </span>
              <span>{{ activePage }}</span>
              <span
                      v-if="news.length && news.length==9"
                      @click="loadPageNews(activePage+1)"
                      class="next_data"> > </span>
          </div>
      </div>

      <div v-if="props.showpage" class="shownewspage">
          <NuxtLink
                  :to="'/news'"
                  class="link_show_all_new"
          >
              Посмотреть все
          </NuxtLink>

      </div>

    </div>

  </div>

</template>

<style scoped>

</style>
