<template >
  <div class="proffessor_content">
    <div class="wrapper_proffessors">

        <div class="title_urls" v-if="!props.showpage">
            <NuxtLink
                    :to="'/'"
                    class="title_url"
            >
                Главная страница
            </NuxtLink>
            <span  class="title_url" > > </span>

            <NuxtLink
                    class="title_url"
            >
                Список преподавателей
            </NuxtLink>

        </div>

      <div class="title_text">Список преподавателей</div>
      <div class="items_professors">


        <div class="item_professor" v-for="proffessor in proffessors">
          <NuxtLink
              :to="'professors/'+proffessor.slug"
              style="text-decoration: none"
          >

            <img src="../../public/img/png/ramka.png"
                 width="245"
                 height="210"
            >
            <img :src="config.public.apiBaseUrl+'images/professors/'+proffessor.photo"
                 class="img-photo-proffesors"
                 v-if="proffessor.photo!=null">
            <p class="preoffessor_text1">{{proffessor.surname}}</p>
            <p class="preoffessor_text2">{{proffessor.name}} {{proffessor.middle_name}}</p>
            <p class="preoffessor_text3">{{proffessor.post}}</p>
          </NuxtLink>
        </div>
      </div>

    </div>
  </div>
</template>


<script setup lang="ts">

    const props = defineProps({
        showpage: 1
    })

    const config = useRuntimeConfig()
    const { data: proffessors }= await useFetch(config.public.apiBaseUrl+'api/proffessors')
</script>

