<script setup lang="ts">

    import { ref } from 'vue'
    const config = useRuntimeConfig()

    definePageMeta({
        layout: 'main',
        middleware: 'auth',
    })

    const route = useRoute()
    const slugPage = ref(route.params.slug)

    const listData = ref([]);

    async function asyncData() {
        try {
            const response = await fetch(config.public.apiBaseUrl+'api/proffessors/'+slugPage.value)
            if (!response.ok) {
                throw new Error('Network response was not ok')
            }
            const data = await response.json()
            return data
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }


    asyncData().then(data => {
        listData.value = data
    })
</script>

<template>
    <div class="proffessor_w100">




        <div >
            <div class="proffesor_head">
                <div class="title_urls" >
                    <NuxtLink
                            :to="'/'"
                            class="title_url"
                    >
                        Главная страница
                    </NuxtLink>
                    <span  class="title_url" > > </span>

                    <NuxtLink
                            :to="'/professors'"
                            class="title_url"
                    >
                        Список преподавателей
                    </NuxtLink>

                    <span  class="title_url" > > </span>

                    <NuxtLink

                            class="title_url"
                    >
                        {{listData.surname}} {{listData.name}} {{listData.middle_name}}
                    </NuxtLink>

                </div>

                <div class="foto_prof">
                    <img src="../../public/img/png/ramka.png"
                         width="245"
                         height="210"
                    >

                    <img :src="config.public.apiBaseUrl+'images/professors/'+listData.photo"
                         class="img-photo-proffesors"
                         v-if="listData.photo!=null">
                </div>
                <div class="data_name_prof">
                    <div class="fio1">{{listData.surname}}</div>
                    <div class="fio2">{{listData.name}} {{listData.middle_name}}</div>
                    <div class="work">{{listData.post}}</div>
                </div>
            </div>
        </div>

        <div class="proffessor_w100_blue">
            <div class="data_prof_lists">
                <div class="left_list">
                    <div class="w_100_data">
                        <div class="w_item_l">
                            Ученая степень и звание
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_1" ></div>
                        </div>
                    </div>

                    <div class="w_100_data">
                        <div class="w_item_l">
                            Вид образования
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_2" ></div>
                        </div>
                    </div>

                    <div class="w_100_data">
                        <div class="w_item_l">
                            Образования
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_3" ></div>
                        </div>
                    </div>
                    <div class="w_100_data">
                        <div class="w_item_l">
                            Подверждающий документ
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_4" ></div>
                        </div>
                    </div>

                    <div class="w_100_data">
                        <div class="w_item_l">
                            Защита диссертации
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_5" ></div>
                        </div>
                    </div>
                    <div class="w_100_data">
                        <div class="w_item_l">
                            Преподаваемые дисциплины
                        </div>
                        <div class="w_item_r">
                            <div v-html="listData.inf_6" ></div>
                        </div>
                    </div>


                </div>
                <div class="right_list">
                    <div v-html="listData.about_text" class="about_text_proffesor"></div>
                </div>
            </div>
        </div>

    </div>

</template>


