<script setup lang="ts">
import Proffessors from "~/components/common/Proffessors.vue";
definePageMeta({
  layout: 'main',
  middleware: 'auth',
})

</script>

<template>
  <div>

    <proffessors
            :showpage="0"
    />
  </div>
</template>

<style scoped>

</style>
