@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");html {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif
}

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}


/** head page start **/
.head-page{
    width: 100%;
    background: #f1f9ff;
    box-shadow: 0 4px 10px #2f97ed26;
    height: 100px;
    margin-bottom: 2px;
}
.head-page .wrapper_head-page{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1113px;
    height: 100%;
}
.head-page .wrapper_head-page .menu_desc .link_head{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    text-align: right;
    text-decoration: none;
}
.head-page .wrapper_head-page .menu_desc .link_head.enter_btn{
    color: #2f80ed;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}
/** head page stop **/

/** Slide main page start **/
.main-side{
    width: 100%;
    background: #f1f9ff;
    height: calc(100vh - 100px);
    margin-bottom: 2px;
}
.main-side .main-side_wrapper{
    margin: auto;
    max-width: 1113px;
    height: calc(100% - 200px);
    position: relative;
    display: flex;
    align-items: center;
}

.main-side .main-side_wrapper .text_slide{
    position: relative;
}

.main-side .main-side_wrapper .text_slide .text-slide-h1{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.main-side .main-side_wrapper .text_slide .text-slide-h2{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-side .main-side_wrapper .text_slide .text-slide-h3{
    color: #959cb1;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-side .main-side_wrapper .img_div_slider{
    position: absolute;
    right: -96px;
    display: flex;
    align-items: center;
}
.main-side .main-side_wrapper .img_div_slider .img_slider{
    max-width: 660px;
    height: auto;
}

.main-side .slider_count{
    margin: auto;
    max-width: 1113px;
    height: 200px;
    display: flex;
    align-items: center;
}
.main-side .slider_count .count_div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-side .slider_count .count_div .number_title{
    color: #2f80ed;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2.4px;
    line-height: normal;
    width: 100%;
    text-align: center;
}
.main-side .slider_count .count_div  .text_title_slider{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: normal;
    text-align: center;
}
/** Slide main page stop **/

/** istoria page start **/
.part_istoria{
    width: 100%;
}
.part_istoria .wrapper_istoria{
    margin: auto;
    max-width: 1113px;
    display: flex;
    flex-wrap: wrap;
}
.part_istoria .wrapper_istoria .text_istoria{
    width: 50%;
    margin-top: 50px;
    color: #3e4554;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .9px;
    line-height: 24px;
    margin-bottom: 50px;
}
.part_istoria .wrapper_istoria .zav_info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.part_istoria .wrapper_istoria  .zav_info .text_zav{

}

.part_istoria .wrapper_istoria  .zav_info .text_zav .familia_zav{
    color: #2f80ed;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: normal;
}
.part_istoria .wrapper_istoria  .zav_info .text_zav .name_zav{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .9px;
    line-height: normal;
}
.part_istoria .wrapper_istoria  .zav_info .text_zav .dol_zav{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/** istoria page end **/

/* educations WRAPPER START   */
.educations{
    background: #F1F9FF;
    width: 100%;
    padding-top: 71px;
    padding-bottom: 80px;
}
.educations .wrapper_edications{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.educations .wrapper_edications .title_text{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 36px;
    width: 100%;
}
.educations .wrapper_edications .wrapper_lists{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.educations .wrapper_edications .wrapper_lists .item_edicat{
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #D3DBE6;
    background: #FFF;
    margin-bottom: 10px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats .item_ed{
    width: 33%;
    color: #959CB1;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    padding: 5px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats .item_ed .blue_text{
    color: #2F80ED;
}


.educations .wrapper_edications .wrapper_lists .item_edicat .title_ed{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_direction{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_direction span{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_profile{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_profile span{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
}
/* educations WRAPPER STOP   */


/* proffessor_content start*/
.proffessor_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 60px;
}
.proffessor_content .wrapper_proffessors{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.proffessor_content .wrapper_proffessors .title_text{
    color: #3E4554;

    width: 100%;
    text-align: left;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}
.proffessor_content .wrapper_proffessors .items_professors{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor{
    width: 33%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.proffessor_content .wrapper_proffessors .items_professors  .item_professor .img-photo-proffesors{
        position: absolute;
        top: 0px;
        margin: auto;
        left: 40px;
        height: 215px;
        width: auto;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text1{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.9px;
    width: 100%;
    margin-top: 5px;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text2{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.7px;
    width: 100%;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text3{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}
/* proffessor_content stop*/


/* part_news start*/
.part_news{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F1F9FF;
}
.part_news .wrapper_part_news{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.part_news .wrapper_part_news .title_news{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}
.part_news .wrapper_part_news .categories_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.part_news .wrapper_part_news .categories_list a{
    text-decoration: navajowhite;
    margin-right: 10px;
    color: #3E4554;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}
.part_news .wrapper_part_news .categories_list span a{
    margin-left: 10px;
}
.part_news .wrapper_part_news .categories_list .tab_category_new{
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}
.part_news .wrapper_part_news .categories_list .active_tab{
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}

.part_news  .wrapper_part_news  h1{
    width: 100%;
}

.part_news  .wrapper_part_news  .time_new{
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
}
.part_news  .wrapper_part_news  .text_new{
    width: 100%;
    margin-top: 10px;
}
.part_news .wrapper_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto auto;
    max-width: 1113px;
    position: relative;
    width: 100%;
}
.part_news .wrapper_news .newitem_new{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #D3DBE6;
    background: #FFF;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-content: flex-start;
    position: relative;
}
.part_news .wrapper_news .newitem_new .title_new{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.8px;
    width: 100%;
    margin-bottom: 5px;
    min-height: 37px;
}

.part_news .wrapper_news .newitem_new  .text_new{
    color: #959CB1;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 14px;
}
.part_news .wrapper_news .newitem_new  .wr_new{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    position: absolute;
    bottom: 4px;
}
.part_news .wrapper_news .newitem_new  .wr_new .show_new a{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.part_news .wrapper_news .newitem_new  .wr_new .time_new {
    color: #959CB1;

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
.part_news .wrapper_news .shownewspage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.part_news .wrapper_news .shownewspage .link_show_all_new{
    background: #2F80ED;
    color: white;
    width: 300px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.part_news .wrapper_news .footer_news_page{
    width: 100%;
}
.part_news .wrapper_news .footer_news_page .news_blue_line{
    height: 1px;
    width: 100%;
    background-color: #2F80ED;
}
.part_news .wrapper_news .footer_news_page .news_go{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.part_news .wrapper_news .footer_news_page .news_go .last_data{
    margin-left: 10px;
    margin-right: 10px;
    color: #2F80ED;
    font-weight: bold;
    cursor: pointer;
}
.part_news .wrapper_news .footer_news_page .news_go .next_data{
    margin-left: 10px;
    margin-right: 10px;
    color: #2F80ED;
    font-weight: bold;
    cursor: pointer;
}

/* part_news stop*/


/** footer start **/
.footer{
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background: #12386B;
}
.footer .wrapper_footer{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    justify-content: space-between;
}
.footer .wrapper_footer .left_menu{
    display: flex;
    flex-wrap: wrap;
}
.footer .wrapper_footer .left_menu .part_menu{
    display: flex;
    flex-direction: column;
    width: 160px;
}
.footer .wrapper_footer .left_menu .part_menu a{
    text-decoration: none;
    color: #D3DBE6;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 357.143% */
    letter-spacing: 0.7px;
}
.footer .wrapper_footer .link_menu{
    display: flex;
    align-items: center;
    color: #D3DBE6;

    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 214.286% */
    letter-spacing: 0.7px;
}


/** footer stop **/

.title_urls {
    width: 100%;
    margin-bottom: 20px;
}
.title_urls .title_url{
    margin-right: 10px;
}
.title_urls .title_url{
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
}

.pagenew{
    min-height: calc(100vh - 252px);
    background: #F1F9FF;
}
.img-photo-news{
    width: 100%;
    height: 450px;
    object-position: center;
    object-fit: cover;
}

.coun_div_center{
    margin: auto;
    max-width: 1113px;
    display: flex;
    flex-wrap: wrap;
}

.spech_page{
    background: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spech_page .spesh_list{
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}
.spech_page  .spesh_list .item_edicat{
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #D3DBE6;
    background: #FFF;
    margin-bottom: 10px;
}
.spech_page  .spesh_list .item_edicat.activ{
    background: #f1f9ff;
}
.spech_page  .spesh_list .title_ed{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.spech_page  .spesh_list  .ed_direc span{
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.spech_page  .spesh_list  .ed_direc{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.spech_page  .spesh_list  .wrapper_item_edicats{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.spech_page  .spesh_list .blue_text {
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}

.proffessor_w100{
    width: 100%;
    min-height: calc(100vh - 303px);
}
.proffessor_w100 .proffesor_head{
    margin: auto;
    max-width: 1113px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    height: 290px;
}
.proffessor_w100 .proffesor_head .data_name_prof{
    display: flex;
    flex-direction: column;
    padding-left: 19px;
}
.proffessor_w100 .proffesor_head .data_name_prof .fio1{
    color: #2f80ed;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: normal;
}
.proffessor_w100 .proffesor_head .data_name_prof .fio2{
    color: #3e4554;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .9px;
    line-height: normal;
}
.proffessor_w100 .proffesor_head .data_name_prof .work{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}
.proffessor_w100_blue{
    min-height: calc( 100vh - 299px - 293px);
    background: #F1F9FF;
    width: 100%;
}
.proffessor_w100_blue .data_prof_lists {
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
}
.proffessor_w100_blue .data_prof_lists .left_list{
    width: 50%;
}
.proffessor_w100_blue .data_prof_lists .left_list .w_100_data{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
    border-bottom: 2px solid rgba(108, 108, 108, 0.63);
    padding-bottom: 10px;
    position: relative;
    min-height: 40px;
}
.proffessor_w100_blue .data_prof_lists .left_list .w_100_data .w_item_l{
    position: absolute;
    top: 5px;
    left: 0;
    color: #3E4554;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;

}

.proffessor_w100_blue .data_prof_lists .left_list .w_100_data .w_item_r{
    text-align: right;
    font-size: 12px;
    width: 80%;
    margin-top: 10px;

}

.proffessor_w100_blue .data_prof_lists .right_list{
    width: 50%;
}
.proffessor_w100_blue .data_prof_lists .right_list .about_text_proffesor{
    padding: 10px;
}


.foto_prof{
    position: relative;
}
.foto_prof  .img-photo-proffesors{
    position: absolute;
    top: 0px;
    margin: auto;
    left: 40px;
    height: 215px;
    width: auto;
}


/* Личный кабинет старт */
.divfio_text b, .divgrup b{
    color: #2F80ED;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.form_createrecord{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.form_createrecord .w100_item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.form_createrecord .w100_item .title{
    width: 300px;
    text-align: right;
    padding-right: 10px;
}


.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 250px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-select select {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: #333;
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

.custom-select select:focus {
    outline: none;
}

.custom-select select:hover {
    background-color: #f8f8f8;
}
.form_createrecord input{
    width: 500px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form_createrecord textarea {
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.w100_item button{
    width: 200px;
    background: #2F80ED;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: white;
    margin: auto;
    height: 50px;
    cursor: pointer;
}

.div_w100{
    width: 100%;
}

/* Личный кабинет КОНЕЦ */

    /** loader **/
.loader {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    animation: l10-0 2s infinite steps(1);
}
.loader::before,
.loader::after {
    content: "";
    flex: 1;
    animation:
            l10-1 1s infinite linear alternate,
            l10-2 2s infinite steps(1) -.5s;
}
.loader::after {
    --s:-1,-1;
}
@keyframes l10-0 {
    0%  {transform: scaleX(1)  rotate(0deg)}
    50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l10-1 {
    0%,
    5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
    33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
    66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
    95%,
    100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l10-2 {
    0%  {background:#514b82;border-radius: 0}
    50% {background:#25b09b;border-radius: 100px 0 0 100px}
}


/***/
.modal_enter{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(234, 242, 253, 0.83);
    z-index: 99;
}
.modal_enter .div_form{
    position: relative;
    top: calc(50vh - 135px);
    left: calc(50vw - 200px);
    width: 400px;
    height: 270px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.modal_enter .div_form .close_modal{
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 10px;
    background: grey;
    color: white;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.modal_enter .div_form .title_form{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: #2F80ED;
    font-weight: bold;
    font-family: Montserrat;
}
.modal_enter .div_form .w100_modal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.modal_enter .div_form .w100_modal .w100_t{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #959CB1;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
}
.modal_enter .div_form .w100_modal .w100_t input{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.modal_enter .div_form .w100_modal .w100_t .btEnter{
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #04AA6D;
    color: #ffffff;
    margin: auto;
}
/***/


/****/
.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
.customers tr:nth-child(even){background-color: #aadcff;}
.customers tr:hover {background-color: #ddd;}
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #12386B;
    color: white;
}
/****/

/** Личный кабиент **/
.divinfo{
    padding: 10px;
    width: 100%;
    border: 1px solid #D3DBE6;
    background: #FFF;
    border-radius: 10px;
}
.divinfo .sp_info{
    font-weight: bold;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.stud_table{
    margin-top: 10px;
    width: 100%;
}
.stud_table input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*****/

.div_report_asnwer{
    margin-top: 10px;
}
.div_report_asnwer .group_datas{
    margin-bottom: 10px;
}
.div_report_asnwer .group_datas .user_name{
    margin-top: 2px;
}
.div_report_asnwer .group_datas .user_name .h2user{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.btn_green{
    padding: 10px;
    background: green;
    color: white;
    font-size: 14px;
}
