@media only screen and (max-width: 1024px) {

    .main-side .main-side_wrapper .text_slide{
        width: 50%;
        text-align: center;
    }
    .main-side .main-side_wrapper .text_slide .text-slide-h1{
        font-size: 34px;
    }
    .main-side .main-side_wrapper .text_slide .text-slide-h2{
        font-size: 24px;
    }
    .main-side .main-side_wrapper .text_slide .text-slide-h3{
        font-size: 14px;
    }
    .main-side .main-side_wrapper .img_div_slider{
        right: 0;
    }

    .main-side .main-side_wrapper .img_div_slider .img_slider{
        max-width: 400px;
    }
    .spesh_info{
        width: 100% !important;
    }
    .proffessor_w100_blue{
        margin-top: 120px !important;
    }
}


@media only screen and (max-width: 425px) {
    .main-side .main-side_wrapper{
        flex-wrap: wrap;
    }
    .main-side .main-side_wrapper .text_slide{
        width: 100%;
    }
    .main-side .main-side_wrapper .img_div_slider{
        position: relative;
        width: 100%;
    }
    .main-side .main-side_wrapper .img_div_slider .img_slider{
        max-width: 260px;
        margin: auto;
    }
    .main-side .slider_count{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .main-side .slider_count .count_div{
        width: 50%;
    }
    .head-page .wrapper_head-page .menu_desc{
        display: none;
    }

    .part_istoria .wrapper_istoria .text_istoria{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        color: #3e4554;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.9px;
        line-height: 16px;
        margin-bottom: 50px;
    }
    .part_istoria .wrapper_istoria .zav_info{
        width: 100%;
        padding: 10px;
    }
    .educations{
        padding-top: 7px;
        padding-bottom: 12px;
    }
    .educations .wrapper_edications {
        padding: 10px;
    }
    .educations .wrapper_edications .title_text {
        font-size: 19px;
    }
    .educations .wrapper_edications .wrapper_lists .item_edicat{
        width: 100%;
    }

    .proffessor_content .wrapper_proffessors .items_professors .item_professor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 22px;
        padding: 10px;
    }

    .part_news{
        padding: 10px;
    }
    .part_news .wrapper_news .newitem_new{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #D3DBE6;
        background: #FFF;
        margin-right: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 10px;
    }

}
