
<script setup lang="ts">

    function findValueByKey(obj, key) {
        if (obj.hasOwnProperty(key)) {
            return obj[key];
        }
        for (let k in obj) {
            if (typeof obj[k] === 'object') {
                let result = findValueByKey(obj[k], key);
                if (result !== undefined) {
                    return result;
                }
            }
        }
        return undefined;
    }


    import { ref } from 'vue'
    const config = useRuntimeConfig()

    definePageMeta({
        layout: 'main',
        middleware: 'auth',
    })

    const route = useRoute()
    const slugPage = ref(route.params.slug)

    const listDatas = ref({ name: '' });
    const listData = ref('');
    const titleData = ref('');
    const activeData = ref(0);
    async function asyncData() {
        try {
            const response = await fetch(config.public.apiBaseUrl+'api/educations')
            if (!response.ok) {
                throw new Error('Network response was not ok')
            }
            const data = await response.json()
            return data
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error)
        }
    }


    asyncData().then(data => {
        listDatas.value = data

        listData.value  = data.filter(item => item['slug'] === slugPage.value)[0]['about']
        titleData.value  = data.filter(item => item['slug'] === slugPage.value)[0]['title']+' '+data.filter(item => item['slug'] === slugPage.value)[0]['direction']
        activeData.value= data.filter(item => item['slug'] === slugPage.value)[0]['id']

    })
</script>

<template>
  <div class="pagenew coun_div_center spech_page" >

      <div class="title_urls" >
          <NuxtLink
                  :to="'/'"
                  class="title_url"
          >
              Главная страница
          </NuxtLink>
          <span  class="title_url" > > </span>

          <NuxtLink
                  :to="'/spechial'"
                  class="title_url"
          >
              Направлений и специальностей
          </NuxtLink>

          <span  class="title_url" > > </span>

          <NuxtLink
                  :to="'/spechial'"
                  class="title_url"
          >
              {{titleData}}
          </NuxtLink>



      </div>

    <div class="spesh_info" style="width: calc( 100% - 500px) ">
        <div v-html="listData" ></div>

    </div>
    <div class="spesh_list">
        <div class="item_edicat"
             v-for="item in listDatas"
             :key="item.id"
             :class="{ activ: item.id === activeData }"
        >
            <NuxtLink
                    :to="'/spechial/'+item.slug"
                    style="text-decoration: none"
            ><div>
                <div class="title_ed">
                    {{item.title}}
                </div>
                <div class="ed_direc">
                    <span>Направление :</span>
                    {{item.direction}}
                </div>
                <div class="ed_direc">
                    <span>Профиль :</span>
                    {{item.profile}}
                </div>
                <div class="ed_direc">
                    <span>Cрок освоения :</span>
                    {{ item.period_development}}
                </div>
                <div class="ed_direc">
                    <span>Форма обучения :</span>
                    {{ item.form_education}}
                </div>
                <div class="blue_text">
                    <p class="blue_text" v-if="item.is_dogovor">-бюджет</p>
                    <p class="blue_text"  v-if="item.is_budget">-договор</p>
                </div>


            </div>

            </NuxtLink>
        </div>
    </div>

  </div>
</template>

