<script setup lang="ts">
    import MainspechPage from "~/components/common/MainspechPage.vue";
definePageMeta({
  layout: 'main',
  middleware: 'auth',
})

</script>

<template>
  <div>
      <mainspech-page
              :showpage="0"
      />
  </div>
</template>

<style scoped>

</style>
