<template>
    <div class="pagenew">
        <div class="part_news">
            <div class="wrapper_part_news">
                <div class="title_urls" >
                    <NuxtLink
                            :to="'/'"
                            class="title_url"
                    >
                        Главная страница
                    </NuxtLink>
                    <span class="title_url"> > </span>

                    <NuxtLink
                            :to="'/news'"
                            class="title_url"
                    >
                        Новости
                    </NuxtLink>
                    <span class="title_url"> > </span>
                    <span class="title_url">
                        {{newData.name}}
                    </span>
                </div>
                <h1>{{newData.name}}</h1>
                <div class="time_new">{{newData.datapublic}}</div>
                <img
                        :src="config.public.apiBaseUrl+'images/news/'+newData.photo"
                        class="img-photo-news"
                        v-if="newData.photo"
                >
                <div v-html="newData.text" class="text_new"></div>
                <div v-html="newData.text_big" class="text_new"></div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    import { ref,watch} from 'vue'
    const config = useRuntimeConfig()
    const route = useRoute()
    const newData = ref({ name: '' });

    definePageMeta({
        layout: 'main',
        middleware: 'auth',
    })

    // Получаем slug из маршрута
    const slugPage = ref(route.params.slug)

    // Используем useAsyncData для получения данных до загрузки страницы
    const { data: newDataReturn, pending, error } = await useAsyncData(() =>
        $fetch(config.public.apiBaseUrl + 'api/news/' + slugPage.value)
    )

    newData.value = newDataReturn.value[0];

    // Реактивно задаем заголовок страницы и мета-теги
    useHead({
        title: computed(() => newData.value ? newData.value.name : 'Загрузка...'),
        meta: computed(() => [
            {
                name: 'description',
                content: newData.value ? newData.value.text.substring(0, 160) : 'Описание загружается...'
            },
            {
                property: 'og:image',
                content: newData.value && newData.value.photo
                    ? config.public.apiBaseUrl + 'images/news/' + newData.value.photo
                    : '/default-image.jpg'  // Путь к картинке по умолчанию, если нет фото
            },
            {
                name: 'twitter:image',
                content: newData.value && newData.value.photo
                    ? config.public.apiBaseUrl + 'images/news/' + newData.value.photo
                    : '/default-image.jpg'
            }
        ])
    })

</script>
