<script setup lang="ts">
import NewsPagage from "~/components/common/NewsPagage.vue";
definePageMeta({
  layout: 'main',
  middleware: 'auth',
})

</script>

<template>
  <div class="pagenew">
    <news-pagage
            :skip="0"
            :limit="9"
            :showpage="0"
    />
  </div>
</template>

<style scoped>

</style>
