<script setup lang="ts">
  import MainslidePage from "~/components/common/MainslidePage.vue";
  import MainistoriaPage from "~/components/common/MainistoriaPage.vue";
  import MainspechPage from "~/components/common/MainspechPage.vue";
  import Proffessors from "~/components/common/Proffessors.vue";
  import NewsPagage from "~/components/common/NewsPagage.vue";

  definePageMeta({
    layout: 'main',
    middleware: 'auth',
  })

</script>

<template>
  <div>
    <mainslide-page />
    <mainistoria-page />
    <mainspech-page
            :showpage="1"
        />
    <proffessors
            :showpage="1"
    />
    <news-pagage
            :skip="0"
            :limit="3"
            :showpage="1"
    />
  </div>
</template>

<style scoped>

</style>
