<template>
  <div class="footer">
    <div class="wrapper_footer">
      <div class="left_menu">
        <div class="part_menu">
          <a href="/">Главная</a>
          <a href="/professors">Преподаватели</a>
        </div>
        <div class="part_menu">
          <a href="/news">Новости</a>
          <a href="https://t.me/rfpgu_subject_bot">Расписание</a>
        </div>
      </div>
      <div class="link_menu">
        г. Рыбница ул. Гагарина, 12
        <br>0 (555) 2-39-12
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
</script>
